/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#recipiente {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: "Ravie";
  font-size: 36px;
  color: #e90c0c;
  float: right;
  margin-right: 40px;
  margin-bottom: 0px;
}

header h2 {
  font-family: "Trebuchet MS";
  font-size: 24px;
  color: #333;
  float: right;
  margin-right: 40px;
}

header h2 em {
  font-style: normal;
  color: #d027aa;
}

aside {
  width: 154px;
  float: left;
}

aside h2 {
  font-family: "Sans Serif";
  font-size: 48px;
  font-weight: bold;
  color: #333;
  transform: rotate(-90deg);
}

aside {

}

article {
  width: 646px;
  box-sizing: border-box;
  border: solid 1px #aac0ae;
  float: right;
}
